<% open_squares = @tictactoe.open_squares(p1_moves(@tictactoe),p2_moves(@tictactoe)) %>
<h1>Tic Tac Toe</h1>
<div class="player-turn-marker"><%= turn(@tictactoe.players, open_squares) %></div>
<div class="player-1-turn player-display"><%= @tictactoe.players[0].name %>, select a square.</div>
<div class="player-2-turn player-display"><%= @tictactoe.players[1].name %>, select a square.</div>
</br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <div class="center">Name</div>
      </th>
      <th>
        <div class="center">Mark</div>
      </th>
    </tr>
  </thead>
  <tbody>
  	<tr>
      <td>
        <div class="center">
          <%= @tictactoe.players[0].name %>
        </div>
      </td>
      <td>     
        <div class="center">
          <%= image_tag "x.jpg", :size => "25x25" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="center">
          <%= @tictactoe.players[1].name %>
        </div>
      </td>
      <td>
        <div class="center">
          <%= image_tag "o.jpg", :size => "25x25" %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</br>

<div class="cpu-move-marker"><%= computer_move(@tictactoe) %></div>
</br>
</br>


