
<% open_squares = @tictactoe.open_squares(p1_moves(@tictactoe),p2_moves(@tictactoe)) %>

</br>
<h4>Player 1:</h4>
<strong>Name: </strong> <%= @tictactoe.players[0].name %> </br>
<strong>Mark: </strong> <%= @tictactoe.players[0].mark %> </br>
<strong>Moves:</strong> <%= p1_moves(@tictactoe) %> </br>

<h4>Player 2:</h4>
<strong>Name: </strong> <%= @tictactoe.players[1].name %> </br>
<strong>Mark: </strong> <%= @tictactoe.players[1].mark %> </br>
<strong>Moves:</strong> <%= p2_moves(@tictactoe) %> </br>

</br>
<strong>Open squares:</strong>  <%= open_squares %>
</br>
<strong>Turn:</strong> <div class="player_turn"><%= turn(@tictactoe.players, open_squares) %></div>



