<h1>All games</h1>

<ul>
  <% @tictactoes.each do |tictactoe| %>
    <li>
		  <strong>Game ID:</strong>       <%= tictactoe.id %>, 
		  <strong>Game Board:</strong>    <%= tictactoe.squares %>, 
		  <strong>Game Players:</strong>  <%= tictactoe.players.count %>, 
		  <strong>PLayer Info:</strong>   <%= players_info(tictactoe.players) %>
    </li>
  <% end %>
</ul>


  <%= link_to "Create new game", new_tictacto_path, class: "btn btn-large btn-primary" %>

  <%= link_to "Show game 2", tictacto_path(2), class: "btn btn-large btn-primary" %>

  <%= link_to "Edit game 2", edit_tictacto_path(2), class: "btn btn-large btn-primary" %>