<%= form_for @tictactoe do |f| %>
  <%= f.fields_for :players do |builder| %>
    <div class="row">      
      <div class="span2">
        <%= builder.label :name, "Enter name:" , :class => 'player-name' %>
      </div>
      <div class="span2">
        <%= builder.text_field :name, :class => 'player-input' %>
      </div>
    </div>
  <% end %>
  </br>
  <p><%= f.submit "Create Player", class: "btn btn-large btn-primary" %></p>
<% end %>        

