<%= form_for @tictactoe do |f| %>
  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <%= f.fields_for :players do |builder| %>
    <p>
      <%= builder.label :name, "Player" %><br />
      <%= builder.text_field :name, :rows => 2 %>
    </p>
  <% end %>
  <p><%= f.submit "Create Players", class: "btn btn-large btn-primary" %></p>
<% end %>        


