<div class="center hero-unit">
  <h1>Edit Page</h1>

  </br>
  <strong>Name, Moves:</strong>
  <%= @player.name %>, <%= @player.moves %>
  </br>
  </br>
  <%= form_for(@player) do |f| %>         
    <%= f.text_field :moves %>
    <%= f.submit "Submit button", class: "btn btn-large btn-primary" %>
  <% end %>
  </br>

  <%= link_to "All players", players_path, class: "btn btn-large btn-primary" %>
</div>
