<div class="center hero-unit">

	<h1>All users</h1>

  <% @players.each do |player| %>
    <li>
	  <%= player.name %>, <%= player.id %>, <%= player.mark %>, <%= player.moves %>
    </li>
  <% end %>
  </br>
	<%= link_to "Edit player 1 ", edit_player_path(1), class: "btn btn-large btn-primary" %>
</div>